<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomeo2o.service.account.dao.impl.BalancePaymentsVoDaoImpl">

	<resultMap type="BalancePaymentsVo" id="beanMap">
		<id column="id" property="id" />
		<result column="type" property="type" javaType="Integer"/>
		<result column="detail_no" property="detailNo" javaType="String"/>
		<result column="record_value" property="recordValue" javaType="Double"/>
		<result column="user_id" property="userId" javaType="Long"/>
		<result column="record_time" property="recordTime" javaType="Date"/>
		<result column="type_name" property="typeName" javaType="String"/>
	</resultMap>
	
	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select	b.id,b.type,b.detail_no,b.record_value,b.user_id,b.record_time,b.type_name from
		(
		select
			r.user_id,
			r.id,
			r.record_value,
			r.detail_no,
			r.deal_type as type,
			r.record_time,
			'返利' as type_name
		from
			act_rebate_detail r
			<where>
			 r.deal_type =1
			<if test="userId != null and userId != ''">
			 and r.user_id = #{userId}
			</if>
		</where>
		union
		select
			r.user_id,
			r.id,
			r.record_value,
			r.detail_no,
			case r.deal_type when 4  then 2 when 5 then 3 end as type,
			r.record_time,
			case r.deal_type when 4  then '消费' when 5 then '退款' end as type_name
		from
			act_rebate_detail r
			<where>
			 r.deal_type in (4,5)
			<if test="userId != null and userId != ''">
			 and r.user_id = #{userId}
			</if>
		</where>
		union
			select
				a.user_id,
				a.id,
				a.advance_value as record_value,
				a.detail_no,
				4 as type,
				a.apply_time as record_time,
				'提现' as type_name
			from
				act_advance_detail a
			<where>
			<if test="userId != null and userId != ''">
			 and a.user_id = #{userId}
			</if>
		</where>
		) b
		order by b.record_time desc
		limit #{pageFirst} , #{pageSize} 
	</select>
	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select	count(*) from
		(
		select
			r.user_id,
			r.id,
			r.record_value,
			r.detail_no,
			r.deal_type as type,
			r.record_time,
			'返利' as type_name
		from
			act_rebate_detail r
			<where>
			 r.deal_type =1
			<if test="userId != null and userId != ''">
			 and r.user_id = #{userId}
			</if>
		</where>
		union
		select
			r.user_id,
			r.id,
			r.record_value,
			r.detail_no,
			case r.deal_type when 4  then 2 when 5 then 3 end as type,
			r.record_time,
			case r.deal_type when 4  then '消费' when 5 then '退款' end as type_name
		from
			act_rebate_detail r
			<where>
			 r.deal_type in (4,5)
			<if test="userId != null and userId != ''">
			 and r.user_id = #{userId}
			</if>
		</where>
		union
			select
				a.user_id,
				a.id,
				a.advance_value as record_value,
				a.detail_no,
				4 as type,
				a.apply_time as record_time,
				'提现' as type_name
			from
				act_advance_detail a
			<where>
			<if test="userId != null and userId != ''">
			 and a.user_id = #{userId}
			</if>
		</where>
		) b
	</select>
</mapper>