<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomeo2o.service.account.dao.impl.ScoreReDayDaoImpl">
	<resultMap type="ScoreReDay" id="beanMap">
		<id column="id" property="id" />
		<result column="version" property="version" javaType="Integer"/>
		<result column="record_date" property="recordDate" javaType="String"/>
		<result column="rule_id" property="ruleId" javaType="Long"/>
		<result column="day_top" property="dayTop" javaType="Integer"/>
	</resultMap>
	
	
	<select id="getById" parameterType="long" resultMap="beanMap">
    	select id,record_date,rule_id,day_top from act_score_re_day where id = #{id}
  	</select>
  	
  	<select id="listBy" parameterType="Map" resultMap="beanMap">
  		select id,record_date,rule_id,day_top 
  		from act_score_re_day where rule_id = #{ruleId} and record_date = #{recordDate}
  	</select>
  	
  	<update id="update" parameterType="ScoreReDay">
		update act_score_re_day
		<set>	
		    day_top = #{dayTop}
		</set>
		<where>
			id = #{id} and rule_id = #{ruleId}
		</where>
	</update>
	<insert id="insert" parameterType="ScoreReDay" keyProperty="id" useGeneratedKeys="true">
		insert into act_score_re_day (version,record_date,rule_id,day_top) 
		values (0,#{recordDate},#{ruleId},#{dayTop})
	</insert>
	
</mapper>